<a href="https://colab.research.google.com/github/FransHutagalung/BootcampUsu/blob/main/pertemuan1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Struktur Data

4 Struktur data pada python
List , Tuple , Set , dan Dictionary

## Tuple

Tuple adalah struktur data di python yang digunakan unrtuk menyimpan beberapa objek di dalam satu variabel . Tuple memiliki urutan dan tidak dapat diubah

Karakteristik Tuple
- Immutable (tidak dapat diubah): Setelah tuple dibuat, isinya tidak dapat dimodifikasi, ditambahkan, atau dihapus.
- Ordered (berurutan): Item dalam tuple memiliki urutan tertentu yang tidak berubah.
- Heterogen: Tuple dapat berisi berbagai tipe data (string, integer, float, bahkan tuple lain).
- Indexing: Item dalam tuple dapat diakses melalui indeks (dimulai dari 0).

In [ ]:
nama_hari = ("Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu")
print(nama_hari)

('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')

### Tuple Indexing

Tuple indexing adalah metode untuk mengakses elemen individual di dalam tuple berdasarkan posisinya. Dalam Python, indeks selalu dimulai dari 0 untuk elemen pertama.
Karakteristik Tuple Indexing

Zero-based indexing: Elemen pertama pada tuple memiliki indeks 0
Indeks positif: Menghitung dari awal tuple (0, 1, 2, ...)
Indeks negatif: Menghitung dari akhir tuple (-1, -2, -3, ...)
Immutable access: Mengakses elemen dengan indeks tidak mengubah tuple asli

In [ ]:
# mulai dari depan
print(nama_hari[1], nama_hari[4])

# mulai dari belakang
print(nama_hari[-1], nama_hari[-2])

Selasa Jumat
Minggu Sabtu

#### Tuple Nested Indexing

Untuk tuple bersarang, gunakan multiple indexing:

In [ ]:
nested = ((1, 2), (3, 4), (5, 6))


print(nested[1])
print(nested[1][0])

(3, 4)
3

### Tuple Slicing

Tuple slicing adalah teknik untuk mengambil sebagian elemen (subset) dari sebuah tuple. Dengan slicing , kita bisa mengekstrak beberapa elemen berurutan dari tuple asli dan mendapatkan tuple baru dengan elemen-elemen tersebut.

In [ ]:
band = ("AC/DC","Dreamtheater","Metallica","Slipknot","The Police","Led Zeppelin","Pink Floyd","Genesis")
print(band[0:4])

('AC/DC', 'Dreamtheater', 'Metallica', 'Slipknot')

Slicing yang baru saja kita lakukan adalah dari index 0 sampai sebelum indeks ke 4. Artinya, kita melakukan Slicing kearah kanan. Kita juga bisa melakukan Slicing kearah kiri, atau secara negatif. Saat slicing negatif dilakukan, ingat bahwa elemen paling terakhir berindeks -1. Contohnya :

In [ ]:
print(band[-7:-1])

('Dreamtheater', 'Metallica', 'Slipknot', 'The Police', 'Led Zeppelin', 'Pink Floyd')

Karena Slicing ke kiri menggunakan angka minus sebagai index,
**tetap selalu inget bahwa slicing dimulai dari index yang lebih rendah, agar anda tidak terkecoh.**

### Tuple Count

Metode count() pada tuple digunakan untuk menghitung berapa kali suatu elemen muncul dalam tuple. Ini adalah salah satu dari sedikit metode bawaan yang tersedia untuk tuple, karena sifat tuple yang immutable.

In [ ]:
#Deklarasi tuple dan isinya
nilai_Praktikan = (100, 55, 92, 93, 94, 100, 87, 65, 66, 100)

In [ ]:
#Kita ingin menghitung berapa banyak praktikan dengan nilai 100
nilai_Praktikan.count(100)

3

### Tuple Len

Fungsi len() pada tuple digunakan untuk mendapatkan jumlah total elemen yang ada dalam tuple. Ini adalah fungsi bawaan Python yang bisa digunakan untuk berbagai tipe data sekuensial, termasuk tuple.

In [ ]:
len(nilai_Praktikan)

10

### Tuple Index

Metode index() pada tuple digunakan untuk menemukan indeks dari elemen tertentu yang pertama kali muncul dalam tuple. Ini memungkinkan Anda mencari posisi suatu nilai di dalam tuple.

In [ ]:
nilai_Praktikan.index(66)

8

In [ ]:
buah = ("apel", "jeruk", "pisang", "mangga", "jeruk", "anggur")
print(buah.index("jeruk", 2)) # akan mencari jeruk mulai dari indeks 2

4

In [ ]:
print(buah.index("mangga", 1, 5))  # akan mencari mangga dari indeks 1 ke 5

3

## List

List adalah salah satu struktur data paling serbaguna di Python. List merupakan koleksi item yang berurutan dan dapat diubah (mutable). Berbeda dengan tuple yang immutable, list memungkinkan Anda untuk menambah, menghapus, dan memodifikasi elemen-elemennya setelah dibuat.

Karakteristik List

- Mutable (dapat diubah): Anda bisa menambah, menghapus, atau mengubah elemen setelah list dibuat
- Ordered (berurutan): Elemen-elemen memiliki urutan tertentu dan dapat diakses dengan indeks
- Heterogen: Dapat menyimpan berbagai tipe data sekaligus (integer, string, objek, dll)
- Dinamis: Ukuran list dapat bertambah atau berkurang sesuai kebutuhan

In [ ]:
list_1 = [1000, 250, 151, 50]

List Juga Memiliki Ururan dari indeks 0

In [ ]:
list_1[3] = 15
print(list_1)

[1000, 250, 151, 15]

Kita juga memiliki beberapa fungsi untuk menambahkan elemen kedalam list, yaitu append(), insert(), dan extend(). Ketiganya akan menambahkan elemen baru di list, antara di suatu posisi yang telah kita sebutkan, atau di posisi paling belakang.

### List Append

metode yang digunakan untuk menambahkan elemen ke akhir list yang sudah ada. Metode ini tidak mengembalikan nilai (None), tetapi langsung memodifikasi list yang dipanggil.

In [ ]:
list_1.append(15)
print(list_1)

[1000, 250, 151, 15, 15]


Lalu, bagaimana jika yang ingin kita lakukan adalah menambah sebuah elemen baru di index ke-2? Disini, fungsi yang bisa kita gunakan adalah insert. Insert memiliki 2 parameter, yaitu posisi yang kita inginkan, dan elemen yang ingin kita masukkan. Contohnya :

In [ ]:
list_1.insert(2, 100)
print(list_1)

[1000, 250, 100, 151, 15, 15]

Seperti yang kita lihat, fungsi insert akan menggeser elemen 2 dan seterusnya 1 posisi kekanan, lalu ia memasukkan 100 ke index-2.

### List Extend

metode yang digunakan untuk menambahkan elemen dari iterable (seperti list, tuple, atau set) ke akhir list. Tidak seperti append() yang menambahkan elemen sebagai satu entitas, extend() akan membuka isi dari iterable dan menambahkannya sebagai elemen individu ke dalam list.

In [ ]:
list_2 = [11, 12, 13, 99, 55]
list_1.extend(list_2)
print(list_1)

[1000, 250, 100, 151, 15, 15, 11, 12, 13, 99, 55]

Lalu, bagaimana jika kita ingin menghapus elemen pada list? Kita gunakan fungsi pop(). Fungsi ini akan menghapus elemen yang kita sebutkan indeksnya dalam parameter. Contohnya :

### List Pop

metode yang digunakan untuk menghapus dan mengembalikan elemen dari list berdasarkan indeks tertentu. Jika tidak ada indeks yang diberikan, maka elemen terakhir dalam list akan dihapus dan dikembalikan.

In [ ]:
list_1.pop(10)
list_1

[1000, 250, 100, 151, 15, 15, 11, 12, 13, 99]

Kita juga memiliki fungsi sort() dan reverse() yang akan mengurutkan list dengan cepat. Fungsi sort() akan mengurutkan secara ascending, sedangkan reverse() akan mengurutkan secara descending. Contohnya :

### List Sort

metode yang digunakan untuk mengurutkan elemen dalam list secara ascending (menaik) secara default. Jika ingin mengurutkan secara descending (menurun) atau dengan aturan kustom, bisa menggunakan parameter tambahan.

In [ ]:
#Sort secara ascending
list_1.sort()
print(list_1)

#Reverse secara descending
list_1.reverse()
print(list_1)

[11, 12, 13, 15, 15, 99, 100, 151, 250, 1000]
[1000, 250, 151, 100, 99, 15, 15, 13, 12, 11]

Kita juga memiliki fungsi len() di list, sehingga kita juga bisa melihat dengan panjang dari suatu list. List juga memliki index() dan count(), sama seperti tuple. Slicing juga bisa dilakukan pada list seperti tuple.

## Set

Set bisa dibayangkan sebagai sebuah himpunan. Tentunya, didalam sebuah himpunan, tidak boleh ada elemen dengan nilai yang sama. Begitu juga dengan sebuah Set. Set juga tidak memiliki urutan, sehingga ia tidak memiliki indeks yang bisa dipanggil.

set adalah tipe data yang digunakan untuk menyimpan sekumpulan elemen unik (tidak ada elemen duplikat) dalam satu variabel. Set bersifat tidak berurutan dan tidak dapat diakses menggunakan indeks seperti list atau tuple.

In [ ]:
set_of_Odds = {1,3,5,7,9,11}
print(set_of_Odds)

{1, 3, 5, 7, 9, 11}

### Set Add

set.add() pada Python digunakan untuk menambahkan elemen baru ke dalam sebuah set. Jika elemen yang ditambahkan sudah ada di dalam set, maka elemen tersebut tidak akan ditambahkan karena set hanya menyimpan elemen unik.

In [ ]:
set_of_Odds.add(150)
print(set_of_Odds)

{1, 3, 5, 150, 7, 9, 11}

### Set Remove

set.remove() pada Python digunakan untuk menghapus elemen tertentu dari sebuah set. Jika elemen yang dihapus tidak ditemukan dalam set, maka akan terjadi KeyError.

In [ ]:
set_of_Odds.remove(11)
print(set_of_Odds)

{1, 3, 5, 150, 7, 9}

In [ ]:
for number in set_of_Odds:
  print(number, " is odd")

1  is odd
3  is odd
5  is odd
150  is odd
7  is odd
9  is odd

In [ ]:
prime_Starter = [2, 3, 5, 7]
set_of_Prime = set()
for i in range(0, 21):
  if(i % 2 !=0) and (i % 3 != 0) and (i % 5!=0) and (i % 7!=0) and (i != 1) or (i in prime_Starter):
    set_of_Prime.add(i)

total = 0
for prime in set_of_Prime:
  print(prime)
  total += prime

print("Total bilangan prima dari 1 hingga 20 adalah : ", total)

2
3
5
7
11
13
17
19
Total bilangan prima dari 1 hingga 20 adalah :  77

## Dictionary

Dictionary berarti kamus. Sama seperti kamus, jika kita ingin mengakses sebuah makna kata, kita harus mencari kuncinya, yaitu kata tersebut. Tiap kata akan menjadi penunjuk terhadap maknanya. Begitu juga pada dictionary.

Dictionary terdiri atas dua jenis elemen, key dan value. Key akan menjadi penunjuk pada suatu value, sama seperti sebuah kata menunjuk pada maknanya di dalam kamus. Dictionary dideklarasikan dengan {}. Contohnya :

In [ ]:
dict_Kesukaan = {'Makanan':'Mieeeeee', 'Minuman':'Susuuuuuu', 'Warna':'Black'}
print(dict_Kesukaan)

{'Makanan': 'Mieeeeee', 'Minuman': 'Susuuuuuu', 'Warna': 'Black'}

Dictionary tidak memiliki urutan. Jadi, jika anda ingin mengakses suatu elemen value, maka anda perlu mengaksesnya menggunakan key. Contohnya :

In [ ]:
dict_Kesukaan['Warna']

'Black'

Jika anda ingin mengakses semua key atau value, saja maka bisa gunakan fungsi keys() dan values(). Contohnya :

In [ ]:
print(dict_Kesukaan.keys())
print(dict_Kesukaan.values())

dict_keys(['Makanan', 'Minuman', 'Warna'])
dict_values(['Mieeeeee', 'Susuuuuuu', 'Black'])

## Looping Dengan Struktur Data

In [ ]:
#Contoh dengan Tuple

data_Nilai_ujian = (15, 100, 25, 35, 80, 66)
for data in data_Nilai_ujian:
  if(data < 75):
    print('Tidak lulus. Nilai anda : ', data)
  else:
    print('Lulus. Nilai anda : ', data)

#Contoh dengan list
data_Barang = ['Bola', 'Raket', 'Sekop']
print('Barang yang kami jual adalah :')
for barang in data_Barang:
  print(barang)

#Contoh dengan Set
prima_Genap = {2}
print('Daftar Bilangan Prima Genap : ')
for angka in prima_Genap:
  print(angka)

#Contoh dengan dictionary
dict_Kesukaan = {'Makanan':'Mieeeeee', 'Minuman':'Susuuuuuu', 'Warna':'Black'}
print('Hal-hal yang disukai penulis : ')
for kunci in dict_Kesukaan.keys() :
  print(dict_Kesukaan[kunci])

Tidak lulus. Nilai anda :  15
Lulus. Nilai anda :  100
Tidak lulus. Nilai anda :  25
Tidak lulus. Nilai anda :  35
Lulus. Nilai anda :  80
Tidak lulus. Nilai anda :  66
Barang yang kami jual adalah :
Bola
Raket
Sekop
Daftar Bilangan Prima Genap :
2
Hal-hal yang disukai penulis :
Mieeeeee
Susuuuuuu
Black

## F String

F-String atau dengan istilah lainnya String Formatting, adalah cara yang sekarang telah menjadi pilihan dalam mengatur penulisan string di Python. F-string juga membantu kita untuk lebih mudah melakukan penyesuaian yang kita inginkan terhadap string.

F-string dimulai dengan menyisipkan huruf f sebelum mendeklarasikan string.

In [ ]:
teks = f"Pada Abad ke-19 dan ke-20, dunia dipenuhi dengan revolusi."
print(teks)

Pada Abad ke-19 dan ke-20, dunia dipenuhi dengan revolusi.

Untuk memformat nilai-nilai seperti variabel dalam f-string, kita gunakan placeholder (tempat penampung) dengan sintaks {}.

In [ ]:
pendapatan = 15000
pengeluaran = 5000
untung = pendapatan - pengeluaran
print(f"Keuntungan yang didapat sebesar : {untung}")

Keuntungan yang didapat sebesar : 10000

Placeholder juga dapat menampung tidak hanya sebuah variabel, tapi juga nilai, operator, dan juga fungsi.

In [ ]:
def keuntungan(pengeluaran, pendapatan):
  return pendapatan - pengeluaran

print(f"Keuntungan yang didapat sebesar : {keuntungan(pengeluaran, pendapatan)}")
print(f"Persentase terhadap pendapatan : {(keuntungan(pengeluaran, pendapatan) / pendapatan)*100}%")

# Kita juga bisa menggunakan fungsi bawaan Python seperti .lower() dan .upper() untuk string
tawa = "haHAha"
print(f"Saat saya santai, tawa saya seperti : {tawa.lower()}, sedangkan saat marah : {tawa.upper()}")

Keuntungan yang didapat sebesar : 10000
Persentase terhadap pendapatan : 66.66666666666666%
Saat saya santai, tawa saya seperti : hahaha, sedangkan saat marah : HAHAHA

In [ ]:
print(f"Keuntungan yang didapat sebesar : {keuntungan(pengeluaran, pendapatan)}")
print(f"Persentase terhadap pendapatan : {(keuntungan(pengeluaran, pendapatan) / pendapatan)*100:.2f}%")

Keuntungan yang didapat sebesar : 10000
Persentase terhadap pendapatan : 66.67%

# Latihan

## Soal NO 1


Definisikanlah 3 buah fungsi, yaitu:

    Apakah sebuah bilangan positif atau tidak
    Apakah sebuah bilangan ganjil atau genap
    Apakah sebuah bilangan prima atau tidak (positif dan tidak bisa dibagi 2, 3, 5, dan 7)

In [ ]:
# fungsi bilangan positif
def is_positif(num) :
  return 'positif' if num > 0 else 'negatif'

print(is_positif(10))
print(is_positif(-2))

positif
negatif

In [ ]:
# fungsi bilangan ganjil
def is_odd(num) :
  return 'ganjil' if num % 2 == 1 else 'genap'

print(is_odd(10))
print(is_odd(3))

genap
ganjil

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  if num <= 3:
    return True
  if num % 2 == 0 or num % 3 == 0:
    return False
  i = 5
  while i * i <= num:
    # print(f'i adalah {i}')
    # print(f'num adalah {num}')
    if num % i == 0 or num % (i + 2) == 0:
      return False
    i += 6
  return True

print(is_prime(10))
# print(is_prime(3))
# print(is_prime(17))

False

## Soal NO 2


Bentuklah sebuah struktur data berisikan setidaknya 10 bilangan. Kemudian, lakukanlah iterasi untuk setiap bilangan dengan 3 fungsi yang telah dibuat. Gunakan f-string untuk mengatur output program. Contoh Output:

    11 adalah bilangan positif, ganjil, dan prima.
    -22 adalah bilangan negatif, genap, dan tidak prima.

In [ ]:
list_data = (11, -22, 33, 44, 55, 66, 77, 88, 99, 100)

def check() :
  for num in list_data :
    is_prime_num = 'prima' if is_prime(num) else 'tidak prima'
    print(f'{num} adalah bilangan {is_positif(num)} , {is_odd(num)} , dan {is_prime_num}')


check()

11 adalah bilangan positif , ganjil , dan prima
-22 adalah bilangan negatif , genap , dan tidak prima
33 adalah bilangan positif , ganjil , dan tidak prima
44 adalah bilangan positif , genap , dan tidak prima
55 adalah bilangan positif , ganjil , dan tidak prima
66 adalah bilangan positif , genap , dan tidak prima
77 adalah bilangan positif , ganjil , dan tidak prima
88 adalah bilangan positif , genap , dan tidak prima
99 adalah bilangan positif , ganjil , dan tidak prima
100 adalah bilangan positif , genap , dan tidak prima